.place {
  color: white;
  display: grid;
  max-width: 100%;
  grid-template-areas:
    "title website"
    "image main-text"
    "image main-text";
  margin: 80px 0 0 0;
}

.place:nth-of-type(1) {
  margin: 92px 0 0 0;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 73px 24px 0 24px;
  }

  .place:nth-of-type(1) {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0 0 0;
  }
  .place:nth-of-type(1) {
    margin: 64px 0 0 0;
  }
}
